{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
SHOP
{% endblock title %}

{% block css %}
#product{
display: inline-block;
margin-left: -4px;
}
#product img{
max-width: 200px;
height: 300px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}

.carousel-control-prev{
margin-top: 200px;
}

.carousel-control-next{
margin-top: 200px;
}


.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
}

.carousel-indicators{
bottom:-50px;
}

.carousel-indicators .active{
background-color: blue;
}

{% endblock css %}




{% block body %}
<div class="container">
    {% for product, range, nSlides in products %}
    <h2 class="text-center my-5 mb-5" style="font-size: 40px;">{{product.0.category| upper}}</h2>
    <div class="row">

        <div id="carouselExampleDark{{forloop.counter}}" class="carousel carousel-dark slide col"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for i in range %}
                <button type="button" data-bs-target="#carouselExampleDark{{forloop.parentloop.counter}}"
                    data-bs-slide-to="{{i}}" class="active" aria-current="true" aria-label="Slide 1 "></button>
                {% endfor %}
            </div>

            <div class="container carousel-inner no-padding">
                <div class="carousel-item active ms-5 ps-3">
                    {% for p in product %}
                    <div class="col-xs-3 col-sm-3 col-md-3" id="product">
                        <div class="card align-items-center" style="width: 18rem;">
                            <img src="/media/{{p.product_image}}" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title" id="namecart{{p.id}}">{{p.product_name}} </h5>
                                <h6 id="pricecart{{p.id}}">Rs.{{p.price}}</h6>
                                <p class="card-text" id="desccart{{p.id}}">{{p.product_desc}}</p>
                                <span id="divcart{{p.id}}" class="divcart">
                                    <button class="btn btn-primary cart" id="cart{{p.id}}">Add To Cart</button>
                                </span>
                                <a href="/preview/{{p.id}}"><button class="btn btn-primary"
                                        id="preview{{p.id}}">Overview</button></a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last%}
                </div>
                <div class="carousel-item">

                    {% endif %}
                    {% endfor %}
                </div>


            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    {% endfor %}
</div>

{% endblock body %}

{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
        updateCart(cart);

    }
    $('.divcart').on('click', 'button.cart', function () {
        var idstr = this.id.toString();

        if (cart[idstr] == undefined) {
            qty = 1;
            name = document.getElementById('name' + idstr).innerHTML;
            price = document.getElementById('price' + idstr).innerHTML;
            desc = document.getElementById('desc' + idstr).innerHTML;
            cart[idstr] = [qty, name, price, desc];
        }
        else {
            qty = cart[idstr][0] + 1;
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        updateCart(cart);


    });
    $('#popover').popover();
    updatePopover(cart);


    function updatePopover(cart) {
        var popStr = "";
        popStr = popStr + "<h5> ITEMS IN YOUR CART: </h5><div class='mx-2 my-2'>";
        var i = 1;
        for (var item in cart) {
            popStr = popStr + "<b>" + i + "</b>. ";
            console.log(cart)
            popStr = popStr + document.getElementById('name' + item).innerHTML + "... Qty: " + cart[item][0] + '<br>';
            i = i + 1;
        }
        popStr = popStr + "</div> <a href='/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
        console.log(popStr);
        document.getElementById('popover').setAttribute('data-content', popStr);
        $('#popover').popover();
    }

    function clearCart() {
        cart = JSON.parse(localStorage.getItem('cart'));
        for (var item in cart) {
            document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
        }
        localStorage.clear();
        cart = {};
        document.getElementById('popover').setAttribute('data-content', '');
        $('#popover').popover();
        updateCart(cart);
    }


    function updateCart(cart) {
        var sum = 0;
        for (var item in cart) {
            sum += cart[item][0];
            document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = sum;
        updatePopover(cart);

    }

    $('.divcart').on("click", "button.minus", function () {
        a = this.id.slice(9,);
        cart['cart' + a][0] = cart['cart' + a][0] - 1;
        cart['cart' + a][0] = Math.max(0, cart['cart' + a][0]);
        document.getElementById('valcart' + a).innerHTML = cart['cart' + a][0];
        updateCart(cart);

    });
    $('.divcart').on("click", "button.plus", function () {
        a = this.id.slice(8,);
        cart['cart' + a][0] = cart['cart' + a][0] + 1;
        document.getElementById('valcart' + a).innerHTML = cart['cart' + a][0];
        updateCart(cart);

    });


</script>
{% endblock js %}